<div class="container" style="text-align:left;">

  <h1>About Me</h1>

  <p>
    I'm a Ruby on Rails developer who loves to code and teach. I'm fully Japanese. For half of my life, I've lived in America and for the other half, I've lived in Japan. I like to travel, play music, and learn new things. Hear my music <a href="https://www.youtube.com/watch?v=H6139AFNJKM" target="_blank">here</a>. I'm always happy to help people out if I can.
  </p>

  <h3>
    Here a few things I have/am working on that I am passionate about:
  </h3>

  <ul class="about_ul">
    <li><h4><a href="http://www.techrise.me">TECHRISE</a></h4></li>
    <p>
      I'm a co-founder / mentor at TECHRISE. We teach Nepalese youth how to code for two reasons: <strong>1.</strong> I love teaching coding and want to spread my passion. <strong>2.</strong> Being able to code would give them access to better job opportunities. Check us out <a href="http://www.techrise.me">here</a>.
    </p>
    <li><h4><a href="https://www.tier1golf.com">Tier1Golf</a></h4></li>
    <p>
      I'm a web developer at Tier1Golf. It's essentially a social network for golfers and allows them to connect, see each other's scores, and win prizes. Golfers can sign up for real tournaments on the website and go out and actually play it. After the tournament is finished, they are ranked and paid out according to their scores. Check it out <a href="https://www.tier1golf.com">here</a>.
    </p>
  </ul>

  <h3>
    Here a some other things I've spent time doing in the past:
  </h3>

  <ul class="about_ul">
    <li><h4>Speaker at TEDxTokyoTeachers</h4></li>
    <p>
      I got super lucky and got to do a little talk at a TEDx event with my buddy, thanks to my professor Rab Paterson. You can watch the talk <a href="http://tedxtalks.ted.com/video/Technology-in-Education-Think-A" target="_blank">here</a>.
    </p>
    <li><h4>Running a Translation Business</h4></li>
    <p>
      In Japan, being able to speak/write both English and Japanese is so rare that I was able to charge money for my skills. It turned out to be pretty successful, and the coolest thing was being able to travel to different countries with my buddies who translated with me with the money we made. My biggest project was the Shizuoka City Tourism Site that I translated with some of my English speaking friends, which can be viewed <a href="http://www.visit-shizuoka.com/en/" target="_blank">here</a>.
    </p>
    <li><h4>3 Awards at HackNC</h4></li>
    <p>
      I had really great teammates and were able to win 3 awards at a hackathon: Best use of IBM Bluemix Technology Award, Best use of Interactive Intelligence Award, and Most Startup-worthy Award. We built a prototype for an online platform where high school students can be matched with college mentors that assist them in the college admissions process.
    </p>
    <li><h4>1st Prize - Hong Kong Cup All Japan University Student Ambassadors English Program</h4></li>
    <p>
      This was a presentation competition where I pitched a business idea for a travel agency where students from the traveler's destination countries could offer advice on where to go from a local perspective. They liked the idea and gave me the opportunity to go to Hong Kong for 2 weeks. Hong Kong was a super awesome place.
    </p>
  </ul>  

</div>