<div class="container" style="text-align:left;">

  <h1>What I'm doing now</h1>

  <p>
    I'm in currently in Nepal working on building TECHRISE. These are the things I am focused on at this stage in my life.
  </p>

  <ul>
    <li>Building an awesome team at TECHRISE</li>
    <li>Building an awesome web platform at TECHRISE</li>
    <li>Mentoring students at TECHRISE</li>
    <li>Developing a web app for a start up company in NC (aLuxuRe)</li>
    <li>Teaching basic web development and figuring out ways to improve the learning experience at <a href="http://www.techrise.me" target="_blank">TECHRISE</a></li>
  </ul>

  <h4>Updated August 5, 2016</h4>

</div>