<div class="container" style="text-align:left;">

  <h1>What I'm doing now</h1>

  <p>
    Inspired by <a href="https://sivers.org/now" target="_blank">Derek Sivers</a>. I'm in North Carolina right now as an exchange student from Japan, focused on improving my technical skillset. These are the things I am focused on at this stage in my life.
  </p>

  <ul>
    <li>Teaching basic web development and figuring out ways to improve the learning experience at <a href="http://www.techrise.me" target="_blank">TECHRISE</a></li>
    <li>Writing technical <a href="/blog.html">blog posts</a> about things I'm learning</li>
    <li>Refactoring <a href="https://www.tier1golf.com" target="_blank">Tier1Golf</a> code to improve performance and readability based on the concepts I'm learning</li>
    <li>Learning about design patterns</li>
    <li>Reading Eloquent Ruby</li>
    <li>Learning Java, MIPS, Machine Language, Algorithms, and Data Structures for school</li>
    <li>Learning how social media works - I started Twitter <a href="https://twitter.com/TakehiroMouri" target="_blank">@TakehiroMouri</a> to share what I think is useful or interesting content and to also learn the gist of how social media works</li>
  </ul>

  <h4>Updated March 1, 2016</h4>

</div>