<div class="container" style="text-align:left;">

  <h1>What I'm doing now</h1>

  <p>
    I'm in currently in Japan and focused on improving my technical skillset. These are the things I am focused on at this stage in my life.
  </p>

  <ul>
    <li>Developing a web app for a start up company in NC (aLuxuRe)</li>
    <li>Teaching basic web development and figuring out ways to improve the learning experience at <a href="http://www.techrise.me" target="_blank">TECHRISE</a></li>
    <li>Studying basic machine learning concepts/algorithms</li>
    <li>Writing technical <a href="/blog.html">blog posts</a> about things I'm learning</li>
  </ul>

  <h4>Updated May 22, 2016</h4>

</div>