<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.techrise.me">TECHRISE</a></strong>
			- An online curriculum that teaches the basics of HTML/CSS, Ruby, Ruby on Rails, and a little bit of JavaScript to complete beginners. Throughout the curriculum, students create Ruby on Rails apps and learn as they build. I also mentor students through this platform online and it is one of my biggest passions.
		</h5>
    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.tier1golf.com">Tier1Golf</a></strong>
			- A social network for amateur golfers. Golfers can sign up for tournaments, compete in real tournaments, receive prizes, and be ranked online. Complete with messaging, forums, and user profiles.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://endgame-chess.herokuapp.com/">Endgame Chess</a></strong>
			- A fully featured chess application built with Ruby on Rails. I built it with a team of 5 remote developers. View source code <a href="https://github.com/teamendgame/endgame-chess" target="_blank">here</a>.
		</h5>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>
 -->

    </div>
  </div>
</div>
</section>
